flows.json
[{"id":"2b4512a4.48a1de","type":"tab","label":"Check for Router Reboot","disabled":false,"info":""},{"id":"6e050708.1a0f78","type":"watch","z":"2b4512a4.48a1de","name":"Watch for reboot","files":"/home/pi/Documents/RPi-Router-Reboot/reboot_flg.txt","recursive":"","x":110,"y":80,"wires":[["25a14582.d8703a"]]},{"id":"a900ac98.6611d","type":"e-mail","z":"2b4512a4.48a1de","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"jvigilan@comcast.net","dname":"","x":360,"y":340,"wires":[]},{"id":"71196d8a.f72e94","type":"debug","z":"2b4512a4.48a1de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":80,"wires":[]},{"id":"25a14582.d8703a","type":"file in","z":"2b4512a4.48a1de","name":"reboot_flg.txt","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":150,"y":160,"wires":[["9b398200.bc78c"]]},{"id":"9b398200.bc78c","type":"change","z":"2b4512a4.48a1de","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Router rebooted!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["71196d8a.f72e94","a900ac98.6611d"]]}]